@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.closeon {
	/*background-color: green;*/
	font-size: 7px !important;
}

.timeRangeStyle {
	color: blue;
	background-color: transparent!;
	width: auto;
}

.chip-list {
	width: 100%;
}

.fc-transparent-event {
	opacity: 0.3;
	visibility: hidden;
}


.fc-scrollable-event {
	overflow-y: scroll;
}