/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/dist/css/bootstrap.css";
td.fc-today {
	background-color: white !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

