<!-- <div class="icon-bar row" style="background-color:#09b2f9; height: 5%;">
  <div class="col" id="header">
    LOGO
  </div>
  <div class="col"> -->
      <!-- <ul>
      <a placement="bottom" ngbTooltip="login" (click)="test()">
        <i class="material-icons topnav-right">account_circle</i>
      </a>
    </ul> -->
    <!-- <nav class="navbar navbar-light bg-light"> -->
        <!-- <a class="navbar-brand">
          <img src="../../assets/baseline_add_black.png" width="30" height="30" alt="">
        </a> -->
      <!-- </nav> -->
  <!-- </div>
</div> -->

<!-- <nav class="navbar" style="background-color:#09b2f9;">
  <a class="navbar-brand" href="#">
    <img src="../../assets/baseline_add_black.png" width="30" height="30" alt="">
  </a>
</nav> -->

<nav class="navbar navbar-expand-sm" style="background-color:#EEB211;">
    <a class="navbar-brand" href="#" style="color: black; font-size: 28px; font-weight: bold">
      <!-- <img src="../../assets/gt-logo-colors3.png" width="187" height="90" class="d-inline-block align-top" alt=""> -->
          Georgia Tech
      <!-- <mat-form-field> -->
              <!-- <mat-label>Select Terms</mat-label> -->
              <!-- <mat-select placeholder="Select Term"> -->
                  <!-- <mat-option *ngFor="let term of terms" [value]="term">
                  {{term}}
                  </mat-option> -->
              <!-- </mat-select> -->
          <!-- </mat-form-field> -->
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="../../assets/baseline_share_black.png" width="25" height="25" class="d-inline-block align-top" alt="Share Content">
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="../../assets/baseline_calendar_today.png" width="25" height="25" class="d-inline-block align-top" alt="iCal">
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <img src="../../assets/baseline_local_printshop_black.png" width="25" height="25" class="d-inline-block align-top" alt="Print PDF">
              </a>
            </li>
          </ul>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Username" aria-label="Search"> -->
        <app-authentication></app-authentication>
      </form>
    </div>
  </nav>