<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">Sign up</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="signup_email" class="sr-only">Email</label>
						<input type="text" class="form-control" [(ngModel)]="signup_email" [ngModelOptions]="{standalone: true}" placeholder="Email">
					</div>
					<div class="form-group">
						<label for="signup_password" class="sr-only">Password</label>
						<input type="password" class="form-control" [(ngModel)]="signup_password" [ngModelOptions]="{standalone: true}" placeholder="Password">
					</div>
					<div class="form-group">
						<label for="signup_confirm_password" class="sr-only">Confirm password</label>
						<input type="password" class="form-control" [(ngModel)]="signup_confirm_password" [ngModelOptions]="{standalone: true}" placeholder="Confirm password">
					</div>
				</div>
				<button (click)='submit()' class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<app-loader *ngIf="loading"></app-loader>
			<div *ngIf="error != ''">
				<p style="color:red; font-size:12px; padding-left:20px; padding-top: 10px;">{{error}}</p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>