Major: <input (keyup)="getMajor($event)" />
<div style="display:block">Course Number: <input (keyup)="getCourseNumber($event)" /></div>
<br>
<button style="display:inline-block" mat-raised-button color="primary" (click)="clear()">clear</button>
<button mat-raised-button color="primary" (click)="save()">Save</button>
<button mat-raised-button color="primary" (click)="submit()">Submit</button>
<button mat-raised-button color="primary" (click)="getClasses()">Get Classes!</button>
<mat-checkbox>Wow</mat-checkbox>
<br>
<br>
