<mat-card>
    <button (click)="sample()">Sample Log</button>
    <div class="form-row">
        <div class="col containner">
            <mat-form-field appearance="outline">
                <mat-label>Select Terms</mat-label>
                <mat-select placeholder="Select Term" [formControl]='position' (selectionChange)="termSelected($event.value)">
                    <mat-option *ngFor="let term of terms" [value]="term">
                    {{term}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col containner">
            <mat-form-field appearance="outline">
            <mat-label>Select Subject</mat-label>
                <mat-select placeholder="Select Subject" (selectionChange)="subjectSelected($event.value)">
                    <mat-option *ngFor="let subject of subjects" [value]="subject">
                    {{subject}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="SUBJECT != ''" class="form-row">
        <div class="col containner">
            <mat-form-field appearance="outline">
                <mat-label>Select Course</mat-label>
                <mat-select placeholder="Select Course" [formControl]='coursePosition' (selectionChange)="courseSelected($event.value)">
                    <mat-option *ngFor="let course of defaultCourses" [value]="course">
                        {{course}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="COURSE != '' && COURSE != '--'" class="form-row">
        <div class="col containner">
            <mat-form-field appearance="outline">
                <mat-label>Sessions (Optional)</mat-label>
                <mat-select placeholder="Select Session" (selectionChange)="sessionSelected($event.value)">
                    <mat-option *ngFor="let session of sessionsData" [value]="session">
                        {{'Section: ' + session.section + ' - ' + 'CRN: ' + session.crn}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <mat-form-field *ngIf="criteria.length > 0" class="chip-list">
                <mat-label>Courses Selected</mat-label>
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let course of courses" [selectable]="selectable"
                            [removable]="removable" (removed)="remove(course)" selected [color]="primary" >
                    {{course.major + ' - ' + course.courseNumber + course.sessionVal}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="criteria.length != 0" class="form-row">
        <div class="col containner">
            <button type="button" class="btn btn-outline-primary" (click)="getClasses()">Get The Classes</button>
        </div>
        <div class="col containner">
            <button type="button" class="btn btn-outline-dark" (click)="deleteAll()">Clear All</button>
        </div>
    </div>
</mat-card><br>

<mat-card *ngIf="outputLength >= 0">
    <div class="form-row">
        <div *ngIf="outputLength > 0" class="col">
            <p>
                We found some available options
                <button mat-raised-button color="primary"
                    matBadge="{{outputLength}}" matBadgePosition="before" matBadgeColor="accent" (click)="viewDetailsClicked()">
                    View Detail
                </button>
            </p>
        </div>

        <div *ngIf="outputLength == 0" class="col">
            <p>
                No options available. Please try other Time Range!!!
            </p>
        </div>
    </div>
    <div *ngIf="viewDetails" class="form-row">
        <div class="col" *ngFor="let data of dataReturned; let i = index">
            {{i}}
        </div>
    </div>
</mat-card>

<mat-card>
    <p> Test component </p>
     <div class="row">
        <div class="col">
            <ng-select [items]="courseList" [(ngModel)]="selectedCourse" bindLabel="name" bindValue="name" (change)="onCourseSelect($event)">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <div *ngIf="item.name === 'Kaunas'">{{item.name}}</div>
                    <div style="margin: 10px 0;" class="card" *ngIf="item.name !== 'Kaunas'">
                        <div class="card-body">
                            <h5 class="card-title" [ngOptionHighlight]="search">{{item.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{item.time}}</h6>
                        </div>
                    </div>
                </ng-template>
            </ng-select>
        </div>
    </div> <br>
    <div class="row">
        <div class="col">
            <p-toggleButton [(ngModel)]="checked1" onLabel="View" offLabel="Off" ></p-toggleButton>
        </div>
        <div class="col">
            <p> Thinh nguyen</p>
        </div>
    </div> <br><br>

    <div class="col containner">
            <mat-form-field appearance="outline">
            <mat-label>Select Subject</mat-label>
                <input type="text" matInput placeholder="Placeholder" [formControl]="testSubject" [matAutocomplete]="auto" (keyup)="keySubjectSelected($event)">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option (click)="subjectClicked($event)" *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
</mat-card>
